@model IEnumerable<cle_spring_2021_courses.Models.Course>



<h1>Courses List</h1>
<p><a href="/Course/Create">Add Course</a></p>
@*<h2>ID: @Model.Id</h2>*@
@*<h2>Name: @Model.Name @Model.Id</h2>
    <p>Description: @Model.Description</p>*@
<hr />

@foreach (var course in Model)
{
    @*<p>ID: @course.Id</p>*@
    <p>Name: <a href="/Course/Details/@course.Id">@course.Name</a></p>
    @*<p>Description: @course.Description</p>*@
}

<hr />

<h2><a href="/Instructor/">List Instructors</a></h2>

<hr />

<h2><a href="/Student/">List Students</a></h2>

<hr />

<h2><a href="/StudentCourse/">List Registrations</a></h2>

