@model IEnumerable<cle_spring_2021_courses.Models.Course>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Course Index</title>
</head>
<body>
    <h1>Courses List</h1>
    @*<h2>ID: @Model.Id</h2>*@
    @*<h2>Name: @Model.Name @Model.Id</h2>
    <p>Description: @Model.Description</p>*@
    <hr />

    @foreach(var course in Model)
    {
        <p>ID: @course.Id</p>
        <p>Name: @course.Name</p>
        <p>Description: @course.Description</p>
    }

</body>
</html>
